@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

:root {
    --blue: lightskyblue;
    --green: limegreen;
}

* {
    color: var(--blue);
    text-transform: uppercase;
}

body {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
}
section { display: none; }
input {
    background-color: transparent;
    border: none;
    outline: none;
}
.player-card, .dealer-card, .war-results, [class$='play-again'] { display: none; }

.green { color: var(--green); }

.active { display: block; }